<div class="flex justify-evenly">
    <div class="text-gray-600 px-4 py-2 rounded-2xl drop-shadow-sm hover:bg-gray-300 order-first bg-blue-600">01 </div>

    <div class="text-gray-600 px-4 py-2 rounded-2xl drop-shadow-sm hover:bg-gray-300 bg-blue-600">02 </div>
    <div class="text-gray-600 px-4 py-2 rounded-2xl drop-shadow-sm hover:bg-gray-300 bg-blue-600">03 </div>
</div>
