<div class="flex flex-nowrap grid justify-items-center flex flex-col space-y-4">
  <div class="bg-slate-400 rounded-full py-3 px-5 text-white block font-medium">01</div>
  <div class="bg-slate-400 rounded-full py-3 px-5 text-white block font-medium">02</div>
  <div class="bg-slate-400 rounded-full py-3 px-5 text-white block font-medium">03</div>
</div>
